.container {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.copy-btn {
    background: #ffffff;
}

.copy-btn:hover {
    background: #b5b2b2;
}

.leave-btn {
    background: #4aed88;

}

.leave-btn:hover {
    background: #2b824c;
}

.main-wrap {
    display: flex;
    width: 100vw;
    padding-top: 75px;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    background-color: #282a36;
    border: 1px solid #333232;
    height: 90vh;
    overflow-y: scroll;
}

.left-column {
    max-width: 50%;
}

.results-bar {
    background-color: black;
    padding: 10px;
    border-radius: 7px;
}

.results-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.execution-bar {
    background-color: #1c1e29;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.run-btn {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1rem;
    background-color: orange;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.run-btn:hover {
    background-color: rgb(186, 128, 19);
}

.submit-btn {
    background-color: #2cbb5d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #199143
}

.clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background: #1c1e29;
    color: #fff;
    align-items: center;
    height: 75px;
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.btn-group {
    display: flex;
    gap: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}