.container {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.copy-btn {
    background: #ffffff;
}

.copy-btn:hover {
    background: #b5b2b2;
}

.leave-btn {
    background: #4aed88;
}

.leave-btn:hover {
    background: #2b824c;
}

.main-wrap {
    display: flex;
    width: 100vw;
    padding-top: 75px;
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
    background-color: #282a36;
    border: 1px solid #333232;
    height: calc(100vh - 75px);
    overflow-y: scroll;
}

.left-column {
    max-width: 50%;
}

.dropdown {
    background-color: #949494;
    border: 1px solid #333232;
    border-radius: 5px;
    width: 25%;
}

.dropdown-label {
    font-weight: bold;
    color: #ffffff;
}

.communication {
    display: flex;
    bottom: 0;
    width: 50vw;
    position: absolute;
}
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column-wrapper {
    display: flex;
    flex-direction: column;
}

.clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background: #1c1e29;
    color: #fff;
    align-items: center;
    height: 75px;
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.btn-group {
    display: flex;
    gap: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
