.container-visible,
.container-not-visible {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.1s ease-in-out;
}

.container-not-visible {
    transform: translateY(-100%);
}

.form-container {
    width: 80%;
    height: 85%;
    max-height: 85%;
    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
}

.form-container h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 85%;
}

.input-container,
.description-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-container label,
.description-container label {
    font-size: 1.1rem;
}

.input-container input {
    padding: 5px;
    border-radius: 5px;
}

.input-container input:focus,
.complexity-container:focus {
    outline: none;
    border: 2px solid #007bff;
}

.complexity-container {
    padding: 5px;
}

.complexity-container option {
    font-size: 1rem;
}

.description-container {
    flex-grow: 1;
}

.description-editor {
    border: 1px solid grey;
    justify-self: stretch;
    flex-grow: 1;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}