.container-visible,
.container-not-visible {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.1s ease-in-out;
}

.container-not-visible {
    transform: translateY(-100%);
}

.input-container,
.description-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-container label,
.description-container label {
    font-size: 1.1rem;
}

.input-container input {
    padding: 5px;
    border-radius: 5px;
}

.input-container input:focus,
.complexity-container:focus {
    outline: none;
    border: 2px solid #007bff;
}

.complexity-container {
    padding: 5px;
}

.complexity-container option {
    font-size: 1rem;
}

.description-container {
    flex-grow: 1;
}

.description-editor {
    border: 1px solid grey;
    justify-self: stretch;
    flex-grow: 1;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.submit-btn {
    margin-left: auto;
    background-color: #ff4081;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.error-msg {
    color: red;
}

.code-template-outer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: flex-start;
}

.code-template-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.code-template-textarea {
    align-self: stretch;
}