.container {
  padding: 200px 250px 100px 250px;
}

.header {
  align-self: center;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
  align-self: center;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit-button {
  background-color: rgb(47, 162, 200);
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(47, 162, 200, 0.8);
  transition: background-color 0.2s;
}

.question-link {
  text-decoration: none;
  color: white;
}
