.password-fields {
  display: flex;
  flex-direction: column;
}

.password-fields input {
  width: 40vw;
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.change-password-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-text {
  color: red;
}

.success-text {
  color: rgb(6, 198, 6);
}