.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.results-bar {
    background-color: #1c1e29;
    padding: 20px;
    border-radius: 7px;
    max-height: 25vh;
    overflow-y: scroll;
}

.execution-bar {
    background-color: #1c1e29;
    border-radius: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-group {
    display: flex;
    gap: 20px;
}

.run-btn {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1rem;
    background-color: orange;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.run-btn:hover {
    background-color: rgb(186, 128, 19);
}

.submit-btn {
    background-color: #2cbb5d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #199143
}

.test-cases-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.test-case-unselected,
.test-case-selected {
    background: none;
    color: white;
    border: none;
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
}

.test-case-selected {
    background-color: grey;
    border-radius: 5px;
}

.test-case-unselected:hover {
    background-color: grey;
    border-radius: 5px;
}

.toggle-btns {
    display: flex;
    gap: 10px;
}

.test-case-btn,
.result-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.test-case-btn:hover,
.result-btn:hover {
    color: rgb(209, 203, 203) !important;
}