.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 4px;
    border-radius: 20px;
    background-color: #232323;
    align-self: stretch;
    padding: 20px;
    gap: 20px;
}

.header {
    margin: 0;
}

.button-group {
    display: flex;
    gap: 30px;
}

.button-group button {
    border: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 10px;
}

.easy-btn {
    background-color: #03c3ac;
}

.easy-btn:hover {
    background-color: #0aa794;
    transition: background-color 0.5s;
}

.medium-btn {
    background-color: #ff8c00;
}

.medium-btn:hover {
    background-color: #d67806;
    transition: background-color 0.5s;
}

.hard-btn {
    background-color: red;
}

.hard-btn:hover {
    background-color: rgb(212, 9, 9);
    transition: background-color 0.5s;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timer-container p {
    margin: 0;
}

.seconds {
    font-weight: bold;
    font-size: 1.25rem;
}