.container {
    background-color: #232323;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.header {
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.25rem;
    padding: 0;
}

.nav-links button {
    color: white;
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-links button:hover {
    color: rgb(47, 162, 200);
    transition: color 0.5s;
}
