.container {
  background-color: #232323;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 4px;
  border-radius: 20px;
  align-self: stretch;
  flex-grow: 1;
}

.questions-table {
  width: 100%;
  padding-top: 10px;
  margin: auto;
}

.questions-table th {
  color: grey;
  text-align: left;
  padding-bottom: 10px;
}

.question-link {
  text-decoration: none;
  color: white;
}

.question-link:hover {
  color: rgb(47, 162, 200);
  transition: color 0.5s;
}

.title-column {
  width: 45%;
}

.category-column {
  width: 45%;
}

.complexity-column {
  width: 20%;
}

.delete-column {
  display: flex;
  justify-content: center;
}

.easy-complexity {
  color: #03c3ac;
}

.medium-complexity {
  color: darkorange;
}

.hard-complexity {
  color: red;
}

.horizontal-line {
  height: 1px;
  border: none;
  background-color: grey;
}