.test-cases-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.test-case-unselected,
.test-case-selected {
    background: none;
    color: white;
    border: none;
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
}

.test-case-selected {
    background-color: grey;
    border-radius: 5px;
}

.test-case-unselected:hover {
    background-color: grey;
    border-radius: 5px;
}

.case-btn-text {
    margin: 5px;
}